@media (min-width: 768px) {

    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .wrapper > * {
      align-self: flex-start;
      align-content: stretch;
      flex-grow: 1;
      width: 33%;
    }

  }
