.taskCard {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  padding: 1rem;
}

.taskIcon,
.taskTitle {
  display:inline-block;
  vertical-align: middle;
}

.taskTitle {
  line-height:.8rem;
  margin-left: 1rem;
}
